<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Team</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <form action="/teams" method="POST">
        
        
        <button type="submit">Create Team</button>
    </form>
</body>
</html>