<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Home</title>
</head>
<body>
    <div id="all">
       
    
    <h1>Basketball Dream team Builder</h1>
    <p>Please<a href="/managers/sign-in">Sign in here</a> to Manage your team*
        or <a href="/managers/new">Sign up here!</a>
    </p>
    <p>*If you just created an account you will need to click sign in to manage your team</p>
   </div>
</body>
</html>