<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>   
    <h1>Basketball Dream team Builder</h1>
    <h2>What would you like to do?</h2>
    <ul>
        <li><a href="/managers">Find a Manager</a></li>
        <li><a href="/managers/new">Make A Manager</a></li>
    </ul>
   
</html>